@media (min-width: 992px) {
  .image-distinction {
    width: 80% !important;
  }
  .content-home p {
    width: 75% !important;
  }
  .about .content {
    width: 75%;
    
  }
}

@media (max-width: 991px) {
  .carousel-item img {
    height: 100vh;
  }
  .image-about {
    width: 100% !important;
  }
  .content-home p {
    width: 80% !important;
  }
}
@media (max-width: 768px) {
  body,
  html {
    overflow-x: hidden !important;
  }
  .content-home p {
    width: 100% !important;
  }

}
